<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Urban Peak</title>
    <link rel="stylesheet" href="/css/product.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
    <div class = "container">
        <div class = "top">
            <img class = "logo" src = "/css/data/testlogo2.png" alt = "Логотип" width = "250" height = "200">

            <div class = "info">
                <a href = "http://127.0.0.1:5000/about">О нас</a>
                <a href = "http://127.0.0.1:5000/catalog">Каталог</a>
                <a href = "about.html">Доставка</a>
            </div>

                <form method="GET" action="/catalog" class="search-form">
                    <input type="text"
                    name="q" 
                    placeholder="Поиск товаров..." 
                    value="{{ request.args.get('q', '') }}"
                    class="search-input">
                    <button type="submit" class="search-btn"><i class="fas fa-search"></i></button>
                </form>
        
                {% if current_user.is_authenticated %}
                    <a href = "/profile" class = "register">Профиль</a>
                {% else %}
                    <a href = "/register" class = "register">Регистрация</a>
                {% endif %}
        </div>

        <div class = "productContainer">
            <button onclick="window.location.href='/catalog'" class="btn-back">←</button>

            {% if product %}
                <img src="/{{ product.image }}" alt="{{ product.name }}" width="350">
                <div class = "product-info">
                    <p class = "name">{{product.name}}</p>

                    <div class = "rprice">
                        <p>Рекомендуемая розничная цена продажи: {{product.price}} ₽</p>
                        <p>Оптовая цена за 1 шт: {{product.price}} ₽</p>
                    </div>

                    <div class = "bottom-info">
                        <div class = "stats">
                            <p>Артикул: {{product.article}}</p>
                            <p>Цвет: {{product.color}}</p>
                            <p>В наличии:   </p>
                        </div>
                        <button class = "bskt-btn">В корзину</button>
                    </div>
                </div>

             {% endif %}

        </div>
    </div>